[submodule "llm-chess"]
	path = llm-chess
	url = https://github.com/PythonicVarun/llm-chess-evaluation-harness.git
[submodule "llm-circuit-builder"]
	path = llm-circuit-builder
	url = https://github.com/PythonicVarun/llm-circuit-builder.git
